langchain>=0.3.0
langchain-openai
langchain-chroma
python-dotenv
chromadb
pydantic
langchain-google-genai
google-generativeaipip 
langchain-google-genai 
langchain-core 
python-dotenv
langchain-chroma
langchain-community
langgraph